<a href="https://colab.research.google.com/github/JunichiroHUy/CPE-201L-CPE-2-B/blob/main/Make_Up_Class_LinkedList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import array as arr

import tkinter
arr.typecodes #get all typecodes​
a = arr.array('i', [1,2,3,4,5,6]) #initializing array a​
a = arr.array('f', map(float, a))
b = arr.array('f', [1.5,2.5,3.5,4.5,5.5,6.5]) #initializing array b​

a.typecode #getting the typecode of a
print(a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0])

In [ ]:
from array import array # importing array from array module​

a= array('i',[4,5,6,7]) # initializing array​

a.insert(1,2) # inserting element: 2 at index: 1​
a # Printing array a​

a.insert(-1,0) # insert element: 0 at index: -1​
a

a.insert(10, -1) # insert element: -1 at index: 10, this is out of range​
a

a.insert(3, 69)
a

array('i', [4, 2, 5, 69, 6, 0, 7, -1])

In [ ]:
# Node class​

class Node:
  # Function to initialize the node object​
  def __init__(self, data):
    self.data = data # Assign data​
    self.next = None # Initialize​
    # next as null​
    # Linked List class​

class LinkedList:
  # Function to initialize the Linked​
  # List object​
  def __init__(self):
        self.head = None

  def printData(self):
    current = self.head
    while current:
      print(current.data)
      current = current.next

# Code execution starts here​

if __name__=='__main__':

  # Start with the empty list​

  llist = LinkedList()
  llist.head = Node("A")
  second = Node("B")
  third = Node("C")
  fourth = Node("D")

  llist.head.next = second # Link first node
  second.next = third # Link second node
  third.next = fourth

llist.printData()

A
B
C
D